# Env
.env
.env.local
*.local

# macOS
.DS_Store
xcuserdata/
*.xcuserstate
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift 
.swiftpm/
.build/
Packages/
Package.resolved

# Supabase
supabase/.branches
supabase/.temp
supabase/seed/.cache

# Node
node_modules/
.deno/

# Logs
*.log
